<form action='/bookmarks' method='post'>
  <input type="text" name="url" placeholder="Url" />
  <input type="text" name="title" placeholder="Title" />
  <button type="submit" name="submit" value="Add Bookmark">Add Bookmark</button>
</form>
